# Default reviewers
* @AmericanGroupLLC

# Stack-specific
*.swift @AmericanGroupLLC
*.kt @AmericanGroupLLC
*.dart @AmericanGroupLLC
*.ts *.tsx @AmericanGroupLLC

# Docs
docs/** @AmericanGroupLLC
*.md @AmericanGroupLLC

# CI
.github/** @AmericanGroupLLC
fastlane/** @AmericanGroupLLC
